.description {
	font-size: 16px;
	text-align: center;
	background-color: #292b2c;
	color: #fff;
	width: 150px;
	line-height: 40px;
	margin: 10px 0;
    box-shadow: 10px 10px 6px -6px #777;
}
.codecademy {
	width: 100%;
	display: block;
	margin-bottom: 40px;
	box-shadow: 10px 10px 6px -6px #777;
}
.lingualeo {
	width: 100%;
	display: block;
	margin-bottom: 40px;
    box-shadow: 10px 10px 6px -6px #777;
}
.cnt {
	margin-top: 70px;
}